<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,287}</string>
                <key>spriteSourceSize</key>
                <string>{250,287}</string>
                <key>textureRect</key>
                <string>{{0,0},{250,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,304}</string>
                <key>spriteSourceSize</key>
                <string>{248,304}</string>
                <key>textureRect</key>
                <string>{{0,287},{248,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>you.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,255}</string>
                <key>spriteSourceSize</key>
                <string>{285,255}</string>
                <key>textureRect</key>
                <string>{{515,0},{285,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>youshang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,291}</string>
                <key>spriteSourceSize</key>
                <string>{276,291}</string>
                <key>textureRect</key>
                <string>{{476,287},{276,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>youxia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,342}</string>
                <key>spriteSourceSize</key>
                <string>{228,342}</string>
                <key>textureRect</key>
                <string>{{248,287},{228,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,279}</string>
                <key>spriteSourceSize</key>
                <string>{317,279}</string>
                <key>textureRect</key>
                <string>{{293,629},{317,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuoshang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,271}</string>
                <key>spriteSourceSize</key>
                <string>{265,271}</string>
                <key>textureRect</key>
                <string>{{250,0},{265,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuoxia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,277}</string>
                <key>spriteSourceSize</key>
                <string>{293,277}</string>
                <key>textureRect</key>
                <string>{{0,629},{293,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cityscene.png.png</string>
            <key>size</key>
            <string>{800,908}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50ff501cbb5dd05f6f017a5a0ffecf84:2fc8f6b45b0739c46f2c7021ace845f7:eb5d26140da2b7815c92f9f5f6f156a0$</string>
            <key>textureFileName</key>
            <string>cityscene.png.png</string>
        </dict>
    </dict>
</plist>
