<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BowmanSkillA1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BowmanSkillA2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{70,0},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BowmanSkillA3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{140,0},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BowmanSkillA4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{0,60},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BowmanSkillA5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{70,60},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BowmanSkillA6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{140,60},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BowmanSkillA7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{0,120},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BowmanSkillA8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{70,120},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BowmanSkillA9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,60}</string>
                <key>textureRect</key>
                <string>{{140,120},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BowmanSkillA.png</string>
            <key>size</key>
            <string>{210,180}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eeafb01139913a4e3a4f604ccc1a7d61:51a2ef349fa7a8a8f86b3410ffe27adc:a67cd12743b77251dbcda194314e2ba5$</string>
            <key>textureFileName</key>
            <string>BowmanSkillA.png</string>
        </dict>
    </dict>
</plist>
