<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Revive1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Revive2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{68,0},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Revive.png</string>
            <key>size</key>
            <string>{136,68}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a09e0ef2028bf4630496f9e1c14cf7d:dccfaa4327be2e08f4799cefd7a99d99:4bc5e2af1b5c2e21a2f402a6d1605d1c$</string>
            <key>textureFileName</key>
            <string>Revive.png</string>
        </dict>
    </dict>
</plist>
